body
{
    height:100%;
    width:100%;
    border:0;
    margin:0;
    padding:0;
    background-color:#63e3ff;
    color:black;
    font-size:16px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-justify-content:center;
}

.mw_loading, .mw_error
{
    margin:24px;
    text-align:center;
}

.mw_mainblock
{
    display:flex;
    flex-flow:column;
    height:100%;
    width:100%
}

.mw_userblock
{
    width:100%;
    margin:4px;
}

.mw_avatar:hover,
.mw_entry_avatar:hover,
.mw_media_item img:hover
{
    border:2px solid #505050;
}

.mw_avatar:active,
.mw_entry_avatar:active,
.mw_media_item img:active
{
    border:2px solid #700000;
}

.mw_userblock p
{
    /* TODO: Find a better way to do this. */
    margin-block-start:0;
    margin-block-end:0;
}

.mw_userdisplayname a
{
    font-size:larger;
    font-weight:bold;
}

.mw_entry_content a.mention
{
    font-weight:bold;
}

.mw_entry_content a,
.mw_footerblock a
{
    /* Keep the underline on actual entries and in footerblock.  Those aren't
       as obvious that they're links. */
    text-decoration:underline;
    color:black;
}

.mw_entry_date a,
.mw_entry_in_reply_to a,
.mw_userdisplayname a,
.mw_entry_userdisplayname a,
.mw_entry_content a.mention
{
    text-decoration:none;
    color:black;
}

.mw_entry_content a.mention:hover,
a:hover
{
    color:#505050;
    text-decoration:underline;
}

.mw_entry_content a.mention:active,
a:active
{
    color:#700000;
    text-decoration:underline;
}

.mw_summary
{
    margin-top:4px;
    font-size:smaller;
    font-style:italic;
}

.mw_contentblock
{
    margin:4px;
    overflow-y:auto;
}

.mw_contentblock > hr,
.mw_userblock > hr
{
    height:1px;
    border:0;
    background-image:linear-gradient(to right, #00000000, #000000aa, #00000000);
}

.mw_entry
{
    margin-bottom:8px;
    margin-left:4px;
    margin-right:4px;
}

.mw_entry_userblock
{
    display:flex;
    width:100%;
    margin-bottom:4px;
}

.mw_entry_date
{
    font-size:smaller;
    font-weight:bold;
    margin-bottom:4px;
}

.mw_entry_in_reply_to,
.mw_entry_boosting
{
    font-size:smaller;
    font-style:italic;
}

.mw_entry_userdisplayname
{
    font-weight:bold;
}

.mw_entry_avatar
{
    width:48px;
    height:48px;
    border:2px solid black;
    margin:2px 4px 0 0;
    background-color:#63e3ff;
    background-size:contain;
}

.mw_entry_content
{
    max-width:100%;
    overflow:auto hidden;
}

.mw_entry_content p {
    margin-block-start:0.6em;
    margin-block-end:0.6em;
}

.mw_spoiler_button {
    background-color:#30acc7;
    border:0;
    border-radius:2px;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
    padding:2px 6px;
    vertical-align:middle;
}

.mw_spoiler_button:hover {
    background-color:#76c9db;
}

.mw_spoiler_button:active {
    background-color:#0c8ca6;
}

.mw_emoji {
    width:20px;
    height:20px;
    vertical-align:middle;
}

.mw_media_container
{
    max-width:100%;
}

.mw_media_item img
{
    max-width:calc(100% - 10px);
    border: 2px solid black;
}

.mw_poll_option_container {
    list-style-type:none;
}

.mw_poll_option_percent {
    display:inline-block;
    font-weight:bold;
    width:50px;
}

.mw_poll_option_bar {
    height:5px;
    border-radius:4px;
    min-width:1%;
    background-color:#19a1bf;
    margin:5px 0;
}

.mw_info_bar {
    display:flex;
    font-size:smaller;
    margin-top:4px;
    width:100%;
}

.mw_info_element {
    flex-grow:0;
    margin-right:8px;

}

.mw_info_bar svg {
    width:16px;
    height:16px;
    margin-right:4px;
    fill:#1d5f6e;
    vertical-align:bottom;
}

.mw_footerblock {
    font-size:x-small;
    margin:0px 8px 4px;
    text-align:right;
}
