body
{
    height:100%;
    width:100%;
    border:0;
    margin:0;
    padding:0;
    background-color:#63e3ff;
    color:black;
    font-size:16px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-justify-content:center;
}

.mw_loading, .mw_error
{
    margin:24px;
    text-align:center;
}

.mw_mainblock
{
    display:flex;
    flex-flow:column;
    height:100%;
    width:100%
}

.mw_userblock
{
    display:flex;
    width:100%;
    margin-bottom:4px;
}

.mw_avatar
{
    width:96px;
    height:96px;
    border:2px solid black;
    margin:4px;
    background-color:#63e3ff;
    background-size:contain;
}

.mw_avatar:hover,
.mw_media_item img:hover
{
    border:2px solid #505050;
}

.mw_avatar:active,
.mw_media_item img:active
{
    border:2px solid #700000;
}

.mw_userinfo
{
    width:284px;
    margin:4px;
    overflow:hidden;
}

.mw_userinfo p
{
    /* TODO: Find a better way to do this. */
    margin-block-start:0;
    margin-block-end:0;
}

.mw_userdisplayname
{
    font-size:larger;
    font-weight:bold;
}

.mw_useratname
{
    font-size:smaller;
    font-style:italic;
    margin-top:4px;
}

.mw_entry_content a
{
    /* Keep the underline on actual entries.  Those aren't as obvious that
       they're links. */
    text-decoration:underline;
    color:black;
}

.mw_useratname a,
.mw_entry_date a,
.mw_in_reply_to a,
.mw_userdisplayname a
{
    text-decoration:none;
    color:black;
}

.mw_useratname a:hover,
.mw_entry_date a:hover,
.mw_in_reply_to a:hover,
.mw_entry_content a:hover,
.mw_userdisplayname a:hover
{
    color:#505050;
    text-decoration:underline;
}

.mw_useratname a:active,
.mw_entry_date a:active,
.mw_in_reply_to a:active,
.mw_entry_content a:active,
.mw_userdisplayname a:active
{
    color:#700000;
    text-decoration:underline;
}

.mw_summary
{
    margin-top:4px;
}

.mw_contentblock
{
    margin:4px;
    overflow-y:auto;
}

.mw_contentblock > hr
{
    height:1px;
    border:0;
    background-image:linear-gradient(to right, #00000000, #000000aa, #00000000);
}

.mw_entry
{
    margin-bottom:8px;
    margin-left:4px;
    margin-right:4px;
}

.mw_entry_date
{
    font-size:smaller;
    font-weight:bold;
    margin-bottom:4px;
}

.mw_in_reply_to
{
    font-size:smaller;
    font-style:italic;
    margin-bottom:4px;
}

.mw_entry_content
{
    max-width:100%;
    overflow:auto hidden;
}

.mw_media_container
{
    max-width:100%;
}

.mw_media_item img
{
    max-width:calc(100% - 10px);
    border: 2px solid black;
}
